.App {
    text-align: center;
    background: url(${bgImage}) #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    border: 4px solid #333;
}
li {
    float: left;
    width: 180px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    min-height: 30px;
    border-radius: 5px;
    border: 2px solid #333;
    color: white;
    background: #000;
    font-family: Pixel, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
}

#user {
    float: right;
}
